.auth-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0;
  z-index: 7;
}

.auth-wrapper {
  /* background-color: #fff; */
  border-radius: 20px;
  /* padding: 40px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-form {
  /* width: 500px; */
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-auth {
}

.button-auth {
}

.button-toggle-auth {
}